.space-nav {
    padding-top: 100px;
    // background-color: rgb(66, 65, 65);
    // background-color: #7395ae;
    background-color: #498ab8;
  }

  .border {
    border-color: rgb(197, 135, 60);
    border-style: groove;
}