.space-nav {
  padding-top: 100px;
  // background-color: rgb(66, 65, 65);
  background-color: #498ab8;
}

.border {
  border-color: rgb(197, 135, 60);
  border-style: groove;
}

.centeer {
  // background-color: #b1a296;
  background-color: rgb(43, 42, 42);
  color: #fae900;
}

.asd {
  background-color: #88bdbc;
}
