<div class="space-nav"></div>
<div class="container">
  <div class="container">
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <br />
        <div class="card caard">
          <div class="card-body">
            <h3>Chain owner Details:</h3>
            <ul>
              <li>
                <p>{{ (chain$ | async)?.owner?.name }}</p>
              </li>
              <li>
                <p>{{ (chain$ | async)?.owner?.location }}</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-3"></div>
    </div>
  </div>
  <!-- <div class="container">
  <div class="row">
    <div class="card w-100 mt-3">
      <div class="card-body">
        <h3>Transactions</h3>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Timestamp</th>
              <th scope="col">newonejhvhv</th>
              <th scope="col">Issuer</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let block of (chain$ | async)?.blocks; let i = index">
              <th scope="row">{{ i }}</th>
              <td>{{ block?.timestamp | date: "M/d/yy, HH:mm" }}</td>
              <td>{{ block?.issuer }}</td>
              <td>{{ block?.newOwner }}</td>
              <td>{{ block?.hash }}</td>
              <td>
                <button (click)="onSee(block)" class="btn btn-primary">
                  See details
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div> -->

  <div class="container">
    <div
      *ngFor="let block of (chain$ | async)?.blocks; let i = index"
      class="row"
    >
      <div class="card w-100 mt-3 asdf">
        <div class="card-body">
          <p>Timestamp: {{ block?.timestamp | date: "M/d/yy, HH:mm" }}</p>
          <p>Issuer: {{ block.issuer }}</p>
          <p>new Owner: {{ block.newOwner }}</p>
          <p>Product: {{ block.data }}</p>
          <p>Product ID: {{ block.dataID }}</p>
          <p>Amount: {{ block.amount }}</p>
          <p>Value: {{ block.value }}</p>
          <p>Previous Hash: {{ block.prevHash }}</p>
          <p>Hash: {{ block.hash }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
